.input-nutzername {
    position: relative;
    display: flex;
    align-items: center;
  }

  .input-nutzername input {
    padding-right: 30px;
  }

  .input-nutzername .info-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #54545a;
  }

  .input-nutzername .info-icon-white {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: white;
    margin-bottom: 5px;
  }
