/* Allgemeines styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: Verdana, sans-serif;
    background-image: linear-gradient(170deg, #000000 0%, #000333 50%, #0000cf 100%); 
    color: #333; 
    
}

.navbar {
    margin: 'auto';
    display: 'flex';
    align-items: 'center';
    background-image: linear-gradient(70deg, #000000 0%, #010121 100%); 
}

.navbar .bold-button {
    font-weight: 700;
    font-size: medium;
    border: 2px solid white;
    border-radius: 15px;
    margin-right: 10px;
}

.navbar-button:hover {
    font-weight: 700;
}

h2 {
    color: white; 
    margin-bottom: 10px; 
    text-align: center; 
    font-weight: 700; 
}

.h2-black {
    color: black; 
    margin-bottom: 20px; 
    text-align: center; 
    font-weight: 700; 
    font-family: Verdana, sans-serif;
}

p {
    color: black; 
    margin-bottom: 10px; 
    text-align: center; 
    font-weight: 400; 
    text-decoration: none;
}

.links {
    color: black; 
    margin-bottom: 10px; 
    text-align: center; 
    font-weight: 400; 
    text-decoration: none;
}

label {
    color: white;
    text-align: left;
}

/* Styling für Tabellen */
table {
    width: 100%;
    padding: 4px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 13px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 13px;
}

thead {
    background: #031544;
    color: white;
}

thead th:first-child {
    border-top-left-radius: 13px;
}

thead th:last-child {
    border-top-right-radius: 13px;
}

th{
    padding: 12px;
    text-align: left;
    font-weight: lighter;
}

td {
    padding: 7px;
    padding-left: 10px;
    text-align: left;
    border-top: 1px solid #ddd;
    background-color: #ddd;
}

.logo {
    margin: 0;
    padding: 7px;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    background-image: linear-gradient(170deg, #000333 0%, #0000cf 100%);
    display: inline-block; 
}



/* Styling für Container-Elemente */
.container {
    padding: 15px; /* Inneres Padding */
    background-color: white; ; /* Hintergrundfarbe */
    border-radius: 30px; /* Abgerundete Ecken */
    box-shadow: #000000; /* Optionaler Schatten für etwas Tiefe */
    margin-top: 40px; /* Abstand von oben */
    max-width: 700px; /* Maximale Breite für bessere Darstellung */
    margin-left: auto; /* Zentriert das div */
    margin-right: auto; /* Zentriert das div */
    margin-bottom: 50px;
}

.inner-container {
    padding: 15px; 
    background-color: #031544;
    border-radius: 20px; 
    border: 2px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-left: auto; /* Zentriert das div */
    margin-right: auto; /* Zentriert das div */
}

.list-container {
    padding: 5px; 
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 15px;
    text-decoration: none;
}

.list-container:hover {
    background-color: #d8d8d8;
    color: white;
}

.mini-container {
    padding: 5px; 
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 15px;
    margin-bottom: 3px;
    text-decoration: none;
}

.mini-info-container {
    padding: 15px; 
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 15px;
    margin-bottom: 3px;
    text-decoration: none;
}

.blue-mini-container {
    background-color: #031544; 
    color: white;
    font-size: medium;
    padding: 10px 3%;
    border: 2px solid #031544;
    border-radius: 10px;
    cursor: pointer;
    width: 93%;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 2px;
}

.info {
    width: 93%;
    padding: 10px;
    font-size: medium;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fffefe;
    margin-top: 5px;
}

.formitem {
    margin-top: 5px;
    text-align: left;
    box-sizing: border-box;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"]{
    width: 93.5%;
    padding: 14px 3%;
    font-size: medium;
    margin: 8px 0 10px 0;
    display: inline-block;
    border-radius: 10px;
    background: #ffffff;
}


/* Styling für die Buttons */
button[type="submit"], button[type="button"] {
    background-color: #031544; 
    color: white;
    font-size: medium;
    padding: 15px 3%;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;
}

.button-uebersicht[type="button"] {
    background-color: #031544; 
    color: white;
    font-size: medium;
    padding: 15px 3%;
    border: 2px solid #031544;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: -15px;
   
}

button[type="submit"], button[type="button"]:hover {
    background-color: #ffffff; /* Dunklere Farbe beim Hover */
    color: #031544;
    font-weight: 700;
    border: 2px solid #031544;
}


/* Popop Styling */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.inner-popup {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup-inner h2 {
    margin-top: 0;
}

.popup-inner ul {
    list-style-type: none;
    padding: 0;
}

.popup-inner ul li {
    margin: 10px 0;
}

.popup-inner .button {
    margin-top: 20px;
}





