body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: Arial, sans-serif;
    background-image: linear-gradient(170deg, #000000 0%, #000333 50%, #0000cf 100%); 
    color: #333; 
}

h2 {
    color: #000000; 
    margin-bottom: 20px; 
    text-align: center; 
    font-weight: bold; 
}

.container {
    padding: 30px; /* Inneres Padding */
    background-color: rgb(254, 254, 255); /* Hintergrundfarbe */
    border-radius: 30px; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optionaler Schatten für etwas Tiefe */
    margin-top: 40px; /* Abstand von oben */
    max-width: 700px; /* Maximale Breite für bessere Darstellung */
    margin-left: auto; /* Zentriert das div */
    margin-right: auto; /* Zentriert das div */
}

.formitem {
    margin-bottom: 1rem;
    box-sizing: border-box;
}


button[type="submit"], input[type="submit"] {
    background-color: #031544; /* Hintergrundfarbe des Buttons */
    color: white;
    font-size: medium;
    padding: 15px 3%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0000cf; /* Dunklere Farbe beim Hover */
}
