/* Allgemeines styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-size: 0.85rem;
    font-family: Verdana, sans-serif;
    background-image: linear-gradient(170deg, #000000 0%, #000333 50%, #0000cf 100%); 
    color: #333; 
    
}

h2 {
    color: white; 
    margin-bottom: 15px; 
    margin-top: 5px;
    text-align: center; 
    font-weight: 500; 
}

h3 {
    color: white; 
    margin-bottom: 15px; 
    margin-top: 5px;
    text-align: center; 
    font-weight: 500; 
}

.h2-black {
    color: black; 
    margin-bottom: 15px; 
    margin-top: 5px;
    text-align: center; 
    font-weight: 500; 
}

p {
    color: black; 
    margin-bottom: 10px; 
    text-align: center; 
    font-weight: 400; 
    text-decoration: none;
}

.links {
    color: black; 
    margin-bottom: 10px; 
    text-align: center; 
    font-weight: 400; 
    text-decoration: none;
}

label {
    color: white;
    text-align: left;
}

/* Styling für Container-Elemente */
.container {
    padding: 10px; /* Inneres Padding */
    background-color: white; ; /* Hintergrundfarbe */
    border-radius: 30px; /* Abgerundete Ecken */
    box-shadow: #000000; /* Optionaler Schatten für etwas Tiefe */
    margin-top: 40px; /* Abstand von oben */
    max-width: 700px; /* Maximale Breite für bessere Darstellung */
    margin-left: auto; /* Zentriert das div */
    margin-right: auto; /* Zentriert das div */
    margin-bottom: 50px; /* Abstand von unten */
    overflow-x: auto; /* Scrollbar bei Überlauf */
    box-sizing: border-box; /* Innenabstand wird nicht zur Breite hinzugefügt */
}

.inner-container {
    padding: 15px; 
    background-color: #031544;
    border-radius: 20px; 
    border: 2px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-left: auto; 
    margin-right: auto; 
}

.list-container {
    padding: 5px; 
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 15px;
    text-decoration: none;
}

.list-container:hover {
    background-color: #d8d8d8;
    color: white;
}

.mini-container {
    padding: 5px; 
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 15px;
    margin-bottom: 3px;
    text-decoration: none;
}

.mini-info-container {
    padding: 15px; 
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 15px;
    margin-bottom: 3px;
    text-decoration: none;
}

.blue-mini-container {
    background-color: #031544; 
    color: white;
    padding: 10px 3%;
    border: 2px solid #031544;
    border-radius: 10px;
    cursor: pointer;
    width: auto;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 2px;
    margin-bottom: 2px;
}

.info {
    width: 93%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fffefe;
    margin-top: 5px;
}

.formitem {
    margin-top: 5px;
    text-align: left;
    box-sizing: border-box;
}

/* Styling für die Navigationsleiste */
.navbar {
    display: 'flex';
    align-items: 'center';
    background-image: linear-gradient(70deg, #000000 0%, #010121 100%); 
}

.navbar .logo-button {
    font-weight: 700;
    font-size: medium;
    border: 2px solid white;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 6px;
}

.navbar-button:hover {
    font-weight: 700;
}

/* Styling für Tabellen */
table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 0px;

}

table tr:last-child td:first-child {
    border-bottom-left-radius: 13px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 13px;
}

thead {
    background: #031544;
    color: white;
}

thead th:first-child {
    border-top-left-radius: 13px;
}

thead th:last-child {
    border-top-right-radius: 13px;
}

th{
    padding: 10px;
    text-align: center;
    font-weight: lighter;
    word-break: break-all;
    word-wrap: break-word;
}

td {
    padding: 7px;
    padding: 4px;
    text-align: center;
    border-top: 1px solid #ddd;
    background-color: #ddd;
    word-break: break-all;
    word-wrap: break-word;
}

.logo {
    margin: 0;
    padding: 7px;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    background-image: linear-gradient(170deg, #000333 0%, #0000cf 100%);
    display: inline-block; 
}

/* Styling für die Eingabefelder */
input[type="text"], input[type="email"], input[type="password"]{
    width: 93.5%;
    padding: 10px 3%;
    margin: 8px 0 10px 0;
    display: inline-block;
    border-radius: 10px;
    background: #ffffff;
}

input[type="number"]{
    width: 93.5%;
    padding: 10px 3%;
    margin: 8px 0 10px 0;
    display: inline-block;
    border-radius: 10px;
    background: #ffffff;
}

.input-container{
    max-width: 40%;
    padding: 6px;
    display: inline-block;
    border-radius: 10px;
    background: #ffffff;
  }

.input-with-button {
    width: 92%;
    max-height: fit-content;
    background-color: white; 
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto; 
    margin-right: auto; 
}

/* Styling für die Eingabefelder mit Button */
.inner-input-with-button {
    position: relative;
    max-height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-input-with-button select {
    flex: 1;
    border: none;
    margin: 0;
    font-size: small;
}

.inner-input-with-button .edit-icon {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    max-width: max-content;
    font-size: 0.65rem;
    margin: 4px;
    padding: 6px; 
    height: auto; 
    
}

select {
    width: 93.5%;
    border: none;
    padding: 10px 3%;
    font-size: medium;
    margin: 8px 0 10px 0;
    display: inline-block;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: none; 
}

.mini-input {
    max-width: 2%;
    border: none;
    padding: -5px;
    margin-left: 5px;
    margin-bottom: -5px;
    display: inline-block;
    border-radius: 1px;
    background-color: #ffffff;
    background-image: none; 
    font-size: small; 
}

.in-a-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
}

.in-a-row p {
    margin: 0 0 0 0;
}

/* Styling für die Buttons */
.mini-button {
    background-color: #031544; 
    color: white;
    font-size: small;
    max-width: max-content;
    padding: 3px 1%;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
}

button[type="submit"], button[type="button"] {
    background-color: #031544; 
    color: white;
    padding: 13px 3%;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;
}

.button-uebersicht[type="button"] {
    background-color: #031544; 
    color: white;
    font-size: medium;
    padding: 15px 3%;
    border: 2px solid #031544;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: -15px;
   
}

button[type="submit"], button[type="button"]:hover {
    background-color: #ffffff; 
    color: #031544;
    font-weight: 700;
    border: 2px solid #031544;
}

.mini-button:hover {
    background-color: #ffffff; 
    color: #031544;
    font-weight: 700;
    border: 2px solid #031544;
}

/* Popop Styling */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.inner-popup {
    background: white;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.popup-inner h2 {
    margin-top: 0;
}

.popup-inner ul {
    list-style-type: none;
    padding: 0;
}

.popup-inner ul li {
    margin: 10px 0;
}

.popup-inner .button {
    margin-top: 20px;
}

.large-emoji {
    font-size: 5em;
}

/* Styling für kleinere Geräte */
@media (max-width: 600px){

    body {
        font-size: small ;
        word-break: break-all;
        word-wrap: break-word;
    }

    /* Styling für Container-Elemente */
    .container {
        padding: 6px;
        margin-top: 32px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .inner-container {
        padding: 10px; 
        border-radius: 24px;
    }

    .blue-mini-container {
        padding: 5px;
        font-size: small;
    }

    /* Styling für Tabellen */
    table {
        width: justify;
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
        box-sizing: border-box;
        padding: 0px;
    }
    
    table th{
        padding: 6px;
        font-size: small;
    }

    table td {
        padding: 3px;
        font-size: small;
    }

    .inner-popup {
        max-width: 300px;
        margin: 50px;
    }

    /* Styling für die Eingabefelder */
    input[type="text"], input[type="email"], input[type="password"], input[type="number"]{
        width: 93.5%;
        padding: 8px 3%;
        font-size: small;
    }
    
    select {
        font-size: small;
    }

    .input-with-button {
        font-size: small;
    }

   .inner-input-with-button {
        font-size: 0.5rem;
        border-radius: 6px;
   }

   .inner-input-with-button .edit-icon {
        font-size: 0.65rem;
        padding: 4px;
        border-radius: 6px;
    }

    /* Styling für die Buttons */
    .button-uebersicht[type="button"] {
        padding: 10px;
        font-size: medium;
        border-radius: 25px;
    }
    
    button[type="submit"], button[type="button"]{
        padding: 10px;
        font-size: small;
        border-radius: 15px;
    }
}
  



