Flask
Flask-Cors
flask-restx
mysql-connector-python
google-auth
Jinja2
MarkupSafe
aniso8601
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
credentials
gunicorn
idna
importlib-resources
itsdangerous
jsonschema
jsonschema-specifications
mysql
mysql-connector
mysqlclient
packaging
pip
pyasn1
pyasn1-modules
pytz
referencing
requests
rpds-py
rsa
setuptools
urllib3
werkzeug
wheel